@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  #end-date::placeholder,
  #release-date::placeholder,
  #start-date::placeholder {
    @apply text-type-text-light;
  }
}

@layer utilities {
  .promotion-form > div:nth-child(odd) {
    @apply pr-6;
  }
}

.swal2-icon svg {
  background: none;
  border: none;
}
